
<h2>Welcome To PAWS</h2>

<p>
    <h3>FRAMEWORKS</h3>
    <br>ASP.Net Core MVC - Client Application
    <br>WebApi - To Recieve Messages. Any client can interface to POST
    <br>SignalR - Real time appointments (mulit clients. Transport agnostic/adaptable for non websocket clients)
    <br>EntityFramework or Dapper + SQL - Data persistence
    <br>
    <br>
</p>



<p>
    <h3>ARCHITECTURE </h3>
    <br>Clean Architecture - Clear and Consise UseCases
    <br>CQRS - Command and Query seperation for clarity and concerns
    <br>DDD - For business rules. Reuse of business logic is possibly with seperating domain logic. Well encapsulated
    <br>
    <br>
</p>


<p>
    <h3>BUSINESS VALUE IDEAS</h3>
    <br>EventSourcing - Adding event sourcing enables us to track all events from users and the application.

    <br>This could be extrememly valuable data for pet desk or its customers. Providing insights
    <br>enables better decision making.
    <br>(ex: knowing when the most appointments are scheduled. What services. All real time on dashboard)
    <br>
</p>

    <form asp-controller="Dashboard" asp-action="Index">
        <button type="submit">Go To Dashboard</button>
    </form>
